<main class="kairo-main">
    <div class="noise-overlay"></div>

    <header class="kairo-header">
        <h1 class="page-title">Descubre joyitas (entre la escoria)</h1>

        <p class="instruction-text">Desliza para descubrir tu próximo anime favorito (o traumatizarte lo que queda
            de día)</p>
    </header>

    <section class="discover-section">
        <div class="container">

            <div class="card-stack-container">

                @if (!anime) {
                <app-loader message="Buscando tu próximo anime..."></app-loader>
                }

                @if (anime) {
                <div class="kairo-card current-card ornate-card-portrait">
                    <div class="card-frame-outer">
                        <div class="card-frame-inner">
                            <img [src]="anime.image_url" [alt]="anime.title">

                            <div class="card-score-badge">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path
                                        d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                                        fill="currentColor" />
                                </svg>
                                <span>{{ anime.score }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="card-info-panel">
                        <h3>{{ anime.title }}</h3>
                        <a [routerLink]="`/dashboard/anime/${anime.mal_id}`" class="btn-details">
                            Ver detalles →
                        </a>
                    </div>
                </div>
                }

            </div>

            @if (anime) {
            <div class="swipe-controls">
                <button class="control-btn reject-btn" title="Descartar" (click)="changeAnime('reject')">
                    ✕
                </button>
                <button class="control-btn like-btn" title="Me interesa" (click)="changeAnime('like')">
                    ♥
                </button>
            </div>
            }

        </div>
    </section>

    @if (toastState.show) {
    <div class="kairo-toast" [class]="toastState.type">
        <div class="toast-icon-frame">
            @if (toastState.type === 'like') {
            <span class="icon">♥</span>
            } @else {
            <span class="icon">✕</span>
            }
        </div>
        <div class="toast-content">
            <span class="toast-title">{{ toastState.title }}</span>
            <span class="toast-msg">{{ toastState.message }}</span>
        </div>
        <div class="toast-progress-bar"></div>
    </div>
    }

</main>