<nav class="navbar">
  <div class="logo"><a routerLink="" class="logo">APC<span class="dot">.</span></a></div>

  <button class="hamburger" (click)="toggleMenu()" [class.active]="isMenuOpen" aria-label="Toggle menu">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>

  <ul class="nav-links" [class.active]="isMenuOpen">
    <li><a routerLink="" (click)="closeMenu()">Home</a></li>
    <li><a routerLink="/about" (click)="closeMenu()">Sobre mí</a></li>
    <li><a routerLink="/projects" (click)="closeMenu()">Proyectos</a></li>
    <li><a routerLink="/contact" (click)="closeMenu()">Contacto</a></li>
  </ul>
</nav>