<header class="kairo-header-nav">
    <div class="nav-content">

        <input type="checkbox" id="mobile-menu-toggle" class="nav-checkbox">

        <label for="mobile-menu-toggle" class="nav-hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </label>

        <nav class="nav-links-container">
            <a routerLink="/" class="kairo-nav-link active">Inicio</a>
            <a routerLink="/mi-lista" class="kairo-nav-link">Mi Lista</a>
            <a routerLink="/buscador-avanzado" class="kairo-nav-link">Buscador</a>
            <a routerLink="/descubrir" class="kairo-nav-link">Descubrir</a>
        </nav>

        <div class="nav-logo-center">
            <img src="logo_kairo.png" alt="KAIRO" class="logo-img">
        </div>

        <div class="nav-actions-right">
            <div class="kairo-search-wrapper">
                <input type="text" placeholder="Buscar..." class="kairo-search-input">
                <button class="kairo-search-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                    </svg>
                </button>
            </div>
        </div>

    </div>

    <div class="header-glow-line"></div>
</header>