<header class="kairo-header-nav">
    <div class="nav-content">

        <input type="checkbox" id="mobile-menu-toggle" class="nav-checkbox">

        <label for="mobile-menu-toggle" class="nav-hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </label>

        <nav class="nav-links-container">
            <a routerLink="/" class="kairo-nav-link active">Inicio</a>
            <a routerLink="/mi-lista" class="kairo-nav-link">Mi Lista</a>
            <a routerLink="/buscador-avanzado" class="kairo-nav-link">Buscador</a>
            <a routerLink="/descubrir" class="kairo-nav-link">Descubrir</a>
        </nav>



        <div class="nav-actions-right">
            <div class="nav-logo-right">
                <img src="logo_kairo.png" alt="KAIRO" class="logo-img">
            </div>
        </div>

    </div>

    <div class="header-glow-line"></div>
</header>