ion-content {
  --background: #102216;
}

.grid-pattern {
  background-image: radial-gradient(#11d452 1px, transparent 1px);
  background-size: 20px 20px;
  opacity: 0.2;
}

// Estilo para el efecto de carga
.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%, 100% { opacity: 1; }
  50% { opacity: .5; }
}

// Ajuste para el scroll lateral de imágenes en móvil
.overflow-x-auto {
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    height: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: #3b5443;
    border-radius: 10px;
  }
}
.text-transparent {
  -webkit-text-fill-color: transparent;
}

// Aseguramos fuente heavy para el header
.font-display {
  font-family: 'Space Grotesk', sans-serif;
}