<div class="match-card" [class.live]="match.status === 'En vivo'">
      
  <div class="card-header">
    <span class="league">{{ match.league }}</span>
    
    @if(match.status === 'En vivo') {
      <span class="badge-live">EN VIVO • 65'</span>
    } @else if(match.status === 'Finalizados') {
      <span class="badge-finished">FINALIZADO</span>
    } @else {
      <span class="badge-upcoming">{{ match.date }}</span>
    }
  </div>

  <div class="match-content">
    <div class="team home">
      <img [src]="match.homeTeam.logoUrl" [alt]="match.homeTeam.name">
      <span class="team-name">{{ match.homeTeam.name }}</span>
    </div>

    <div class="score-board">
      @if(match.status !== 'Próximos') {
        <div class="score-line">
           <span class="score">{{ match.score.home }}</span>
           <span class="divider">-</span>
           <span class="score">{{ match.score.away }}</span>
        </div>
      } @else {
        <span class="vs">VS</span>
      }
      
      <div class="date-info">{{ match.date }}</div>
    </div>

    <div class="team away">
      <img [src]="match.awayTeam.logoUrl" [alt]="match.awayTeam.name">
      <span class="team-name">{{ match.awayTeam.name }}</span>
    </div>
  </div>

  <div class="info-spacer">
      @if (match.lastScorer) {
        <div class="last-action">
          <span class="icon">⚽</span> Último gol: {{ match.lastScorer }}
        </div>
      }
  </div>

  <div class="actions">
    <button class="btn-details" routerLink="/match/{{ match.id }}">Detalles</button>
    
    @if (match.status !== 'Finalizados') {
      <button class="btn-bet">APOSTAR</button>
    }
  </div>
</div>