<div class="panel">
    <h2 class="section-title">
        Registro de Nueva Mascota
    </h2>

    <!-- Formulario Reactivo -->
    <form [formGroup]="petForm" (ngSubmit)="onSubmit()">

        <!-- Campo: Nombre -->
        <div>
            <label for="name" class="form-label">Nombre</label>
            <input id="name" type="text" formControlName="name" placeholder="Ej: Max" class="form-input" />

            @if (name?.invalid && (name?.touched || name?.dirty)) {
            <p class="error-message">
                {{ getErrorMessage('name') }}
            </p>
            }
        </div>

        <!-- Campo: Tipo (Select) -->
        <div>
            <label for="type" class="form-label">Tipo</label>
            <select id="type" formControlName="type" class="form-input">
                <option value="">-- Seleccionar Tipo --</option>
                <option value="Perro">Perro</option>
                <option value="Gato">Gato</option>
                <option value="Hámster">Hámster</option>
                <option value="Otro">Otro</option>
            </select>

            @if (type?.invalid && (type?.touched || type?.dirty)) {
            <p class="error-message">
                {{ getErrorMessage('type') }}
            </p>
            }
        </div>

        <!-- Campo: Edad -->
        <div>
            <label for="age" class="form-label">Edad (años)</label>
            <input id="age" type="number" formControlName="age" placeholder="Edad" min="0"
                class="form-input appearance-none" />

            <!-- Mensajes de Validación -->
            @if (age?.invalid && (age?.touched || age?.dirty)) {
            <p class="error-message">
                {{ getErrorMessage('age') }}
            </p>
            }
        </div>

        <!-- Campo: ¿Tiene Chip? (Checkbox) -->
        <div>
            <input id="hasChip" type="checkbox" formControlName="hasChip" />
            <label for="hasChip">
                Tiene chip
            </label>
        </div>

        <!-- Botón de Envío -->
        <button type="submit" [disabled]="petForm.invalid" class="btn-submit">
            Registrar Mascota
        </button>

    </form>
</div>
<!-- En caso de que el formulario haga un registro exitoso, se muestra este toast indicando que ha salido todo bien -->
@if (showSuccessToast) {
<div class="toast-notification">
    <div class="toast-icon">
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3">
            <polyline points="20 6 9 17 4 12"></polyline>
        </svg>
    </div>
    <div class="toast-content">
        <span class="toast-title">¡Registro Exitoso!</span>
        <span class="toast-message">La mascota se ha guardado correctamente.</span>
    </div>
</div>
}